/* @tailwind base;
@tailwind components;
@tailwind utilities;


.group:hover .group-hover\:block {
  display: block;
}

.group:hover .group-hover\:flex {
  display: flex;
}

.group-hover\:hidden {
  display: none;
} */

/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles if any */

/* Ensure the background image is responsive */
.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}
