@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS or Tailwind configuration */
/* .mobile-menu-item:hover {
    background-color: #f0f0f0;
  }
  
  .mobile-menu-button:hover {
    background-color: #e2e8f0;
  }
  
  .mobile-menu-button:active {
    background-color: #d1d5db;
  }
   */


   /* Hide desktop menu for max-width: 1047px */
/* Add to your CSS file or within a <style> tag in your component */
.group:hover .group-hover\:block {
  display: block;
}

.group:hover .group-hover\:flex {
  display: flex;
}

.group-hover\:hidden {
  display: none;
}

